<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="container-sm">

        <div class="col" style="background-color:#063828">
            <p style="color:white;text-align: center; font-size: 150%;padding:10px;">A Visualisation Tool</p>

        </div>


        <div class="row justify-content-center">
            <div class="col-8">
                <h3>Welcome to Keystroke Loxensis</h3>
            </div>
            <br/>
        </div>
        <div class="row justify-content-center">
            <div class="col-8" style="text-align: justify;">
                <p>This visualisation application aims to simplify a text genetic analysis of keystroke-logged writing processes.
                    The keystroke logging tool <a class="link" href="https://www.inputlog.net/">Inputlog</a> allows for a fine-grained analysis of (literary) writing processes. But before the writing process can be studied, the keystroke logging data needs to be transformed into an output that is suitable for a textual genetic analysis.
                    For this purpose, the text can be combined with keystroke logging data in TEI-conformant XML. Inputlog also offers a Replay-function, but relying solely on a video replay of the writing session for text genetic analysis  seems undesirable, as one would need to watch a writing session of, say, two hours in its entirety, while constantly pausing to analyse the effect of the revisions. A static reconstruction of the writing session, together with replay function of relevant writing actions, is favoured to ensure adequate analysis. This also allows for further dissemination of the encoded writing process, in the form of a digital edition.</p>
                <p>When a keystroke-logged writing process is encoded in TEI-XML, according to the <a class="link" href="https://extant-cmg.github.io/eXtant-wiki/loxensis/encoding">TEI-XML Encoding Manual for Keystroke-Logged Writing Processes</a>, the resultant XML files can easily be uploaded and visualised. In this way, you only need to encode the writing process (which is hard work, we know).
                Currently, there are two visualisation options available:
                </p>
                <ul>
                    <li>
                        <b>The Standard visualisation</b>: allows for multiple visualisation options, e.g. replaying the writing session (writing action per writing action), seeing all the writing actions in one glance, and to filter the actions (typos, deletions, addition).</li>
                    <li>
                        <b>The Annotation visualisation</b>: offers a simple view on the writing process with the options offered in the Standard visualisation, with the addition that editor notes can be visualised as well.</li>
                </ul>
                <p>The <a class="link" href="statistics.html">Statistics-page</a> gives a brief overview of the number of modifications made during the writing process. </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
        

    </div>
</div>