<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
<div class="col" style="background-color:#063828">           
                <p style="color:white;text-align: center; font-size: 150%;padding:10px;">Statistics</p>
                
            </div>
    <div class="container-fluid">
<div class="col-lg-12 col-md-12" style="background-color:white; padding:30px">
                        <div class="container-fluid" data-template="stats:all-stats"/>
                   
    </div>
    </div>
    
</div>