<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
<div class="col" style="background-color:#063828">           
                <p style="color:white;text-align: center; font-size: 150%;padding:10px;">Uploaded files</p>
                
            </div>
    <div class="container-fluid">

                        <div data-template="file_view:all-files"/>
        <p><button class="button button1"><a class="button1" href="/exist/rest/db/apps/textgenetic-KSL/delete_files.xq">Delete files</a></button> CAUTION: Removing the files is permanent! </p>            
    </div>
    
</div>